body{
    background-color:black;
    color:white;
    margin:0px;
    padding:0px;
}
h1{
    font-family:'cf_band_of_brothers_personaRg' ;
    font-size:80px;
    color:white;
    text-align: center;
}
.color{
    color:darkred;
}
header{
    background-color:black;
    position:fixed;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    text-align:center;
    z-index:-1;
}
.btn{
    cursor:pointer;
    width:150px;
    margin:20px auto;
    padding:5px 20px;
    background-color:red;
    font-size:25px;
}
.btn:hover{

}

main{
    position: fixed;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    background-color:black;
}
/* Afbeeldingen */
/* 1 */
.opstijgen{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    z-index: 5;
    animation: opstijgen 3s;
    animation-fill-mode: forwards;
}
.opstijgen .image{
    position:absolute;
    left:0px;
    top:calc(50% - 50%);
    height:100%;
    width:100%;
    background:url("../afbeeldingen/BOB1.jpg")center center no-repeat;background-size:cover;
}
@keyframes opstijgen {
    from {top: 0%}
    to {top: 100%}
}
/* 2 */
.vliegen{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    z-index: 4;
    animation: vliegen 5s;
    animation-delay:5s;
    animation-fill-mode: forwards;
}
.vliegen .image{
    position:absolute;
    left:0px;
    top:calc(50% - 50%);
    height:100%;
    width:100%;
    background:url("../afbeeldingen/BOB2.jpg")center center no-repeat;background-size:cover;
}
@keyframes vliegen {
    0%{opacity:100%}
    15% {opacity:50%}
    30% {opacity:0%}
    100% {opacity:0%}
}

/* 3 */
.springen{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    z-index: 3;
    animation: springen 5s;
    animation-delay:5s;
    animation-fill-mode: forwards;
}
.springen .image{
    position:absolute;
    left:0px;
    top:calc(50% - 50%);
    height:100%;
    width:100%;
    background:url("../afbeeldingen/BOB3.jpg")center center no-repeat;background-size:cover;

}
@keyframes springen {
    0% {transform: scale(1 , 1)}
    50% {transform: scale(1.5, 1.5)}
    50% {opacity: 1 }
    100%{opacity: 0}
}
/* 4 */
.lucht{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    z-index: 2;
    animation: lucht 7s;
    animation-delay:7s;
    animation-fill-mode: forwards;
}
.lucht .image{
    position:absolute;
    left:0px;
    top:calc(50% - 50%);
    height:100%;
    width:100%;
    background:url("../afbeeldingen/BOB4.jpg")center center no-repeat;background-size:cover;
}
@keyframes lucht {
    from {transform: scale(0 , 0)}
    to {transform: scale(1.5, 1.5)}
}

/* Fonts */
@font-face {
    font-family: 'cf_band_of_brothers_personaRg';
    src: url('font/fon1/cfbandofbrotherspersonal-re-webfont.woff2') format('woff2'),
         url('font/fon1cfbandofbrotherspersonal-re-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vendettaregular';
    src: url('font/font2/endetta-webfont.woff2') format('woff2'),
         url('font/font2/vendetta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'scala_sansbold_lf';
    src: url('font/font3/scalasans-boldlf-webfont.woff2') format('woff2'),
         url('font/font3/scalasans-boldlf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'scala_sanslight';
    src: url('font/font3/scalasans-light-webfont.woff2') format('woff2'),
         url('font/font3/scalasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'scala_sansregular';
    src: url('font/font3/scalasans-regular-webfont.woff2') format('woff2'),
         url('font/font3/scalasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

